<div
  class="w-35 rounded-lg shadow-md hover:shadow-xl bg-white border border-violet-200 p-4 flex flex-col gap-2 items-center transition-shadow"
>
  <div class="w-16 h-16 bg-gray-100 rounded flex items-center justify-center">
    <% if (['.png','.jpeg','.webp','.bnp', '.gif', '.svg'].includes(file.ext) ) { %>
        <i class="fa fa-image text-gray-500 text-3xl"></i>
    <% } else if (['.doc','.docx','.pdf','.txt'].includes(file.ext) ) { %>
        <i class="fa fa-file-alt text-gray-500 text-3xl"></i> 
    <% } else { %>
        <i class="fa fa-file text-gray-500 text-3xl"></i>
    <% } %>
  </div>
  <div class="w-full text-center">
    <span class="font-semibold text-gray-800 text-sm break-words line-clamp-2">
      <%= file.name %>
    </span>
    <div class="text-xs text-gray-500 flex justify-between mt-1">
      <span><%= file.ext %></span>
      <span>
        <% if (file.size < 1024) { %>
            <%= file.size.toFixed(2) %> B
        <% } else if (file.size < Math.pow(1024,2)) { %>
            <%= (file.size / 1024).toFixed(2) %> KB
        <% } else if (file.size < Math.pow(1024,3)) { %>
            <%= (file.size / Math.pow(1024,2)).toFixed(2) %> KB
        <% } else { %>
            <%= (file.size / Math.pow(1024,3)).toFixed(2) %> GB
        <% } %>
    </div>
  </div>
</div>
