<div class="position relative">
  <a
    href="/drive/folder/<%= folder.id %>"
    class="w-35 rounded-lg shadow-md hover:shadow-xl bg-white border border-violet-200 p-4 flex flex-col gap-2 items-center transition-shadow"
  >
    <div class="w-16 h-16 bg-gray-100 rounded flex items-center justify-center">
      <i class="fa fa-folder text-gray-500 text-3xl"></i>
    </div>
    <div class="w-full text-center">
      <span
        id="subdir-nav-button-<%= folder.id %>"
        class="font-semibold text-gray-800 text-sm break-words line-clamp-2"
      >
        <%= folder.name %>
      </span>
    </div>
    <!-- Rename Folder form -->
    <form
      id="update-subdir-form-<%= folder.id %>"
      class="max-w-full flex flex-wrap items-center gap-2"
      hidden
      action="/drive/folder/<%= folder.id %>?_method=PUT"
      method="post"
      autocomplete="off"
    >
      <input
        required
        placeholder="Update name..."
        type="text"
        maxlength="20"
        name="folder"
        value="<%= folder.name %>"
        class="shrink flex-1 max-w-[100%] border rounded-sm border-gray-400"
        onkeydown="
          if (event.key === 'Escape') {
          event.preventDefault();
          this.closest('form').querySelector('button[type=button]').click();
          }
          if (event.key === 'Enter') {
          event.preventDefault();
          this.closest('form').querySelector('button[type=submit]').click();
          }
        "
      />
      <div class="flex-1 flex gap-3">
        <button
          type="submit"
          class="flex-1/2 border border-violet-300 rounded-sm p-1 hover:bg-green-500"
        >
          <i class="fa fa-solid fa-check"></i>
        </button>
        <button
          type="button"
          class="flex-1/2 border border-violet-300 rounded-sm p-1 hover:bg-red-500"
          onclick="
              document.getElementById('update-subdir-form-<%= folder.id %>').hidden = true;
              document.getElementById('subdir-nav-button-<%= folder.id %>').toggleAttribute('hidden');
              document.getElementById('subdir-options-<%= folder.id %>').toggleAttribute('hidden');
              event.preventDefault();
            "
        >
          <i class="fa fa-solid fa-times"></i>
        </button>
      </div>
    </form>
    <!-- / Rename Folder form -->
  </a>
  <!-- Folder options button -->
  <div
    id="subdir-options-<%= folder.id %>"
    class="hover:bg-gray-400 p-1 rounded absolute top-0 right-0 z-50"
  >
    <drop-down id="subdir-button-<%= folder.id %>">
      <drop-down-action class="bg-gray-100 shadow-md">
        <a
          onclick="
          event.preventDefault();
          const form = document.getElementById('update-subdir-form-<%= folder.id %>');
          form.removeAttribute('hidden');
          document.getElementById('subdir-nav-button-<%= folder.id %>').toggleAttribute('hidden');
          document.getElementById('subdir-options-<%= folder.id %>').toggleAttribute('hidden');
          const input = form.querySelector('input');
          const length = input.value.length;
          input.focus();
          input.setSelectionRange(length, length);
           "
        >
          Rename...
        </a>
      </drop-down-action>
      <drop-down-action class="bg-gray-100 shadow-md">
        <form
          id="delete-subdir-form-<%= folder.id %>"
          action="/drive/folder/<%= folder.id %>?_method=DELETE"
          method="post"
          onsubmit="return confirm('Are you sure you want to delete the folder /<%= folder.name %> ?\r\nThis action cannot be undone.')"
        >
          <button type="submit">Delete...</button>
        </form>
      </drop-down-action>
    </drop-down>
  </div>
  <!-- / Folder options button -->
</div>
