<div
  class="flex items-center justify-between w-full border-b bg-gray-100 hover:bg-gray-300 rounded px-2 py-1"
>
  <form
    id="update-folder-form-<%= folder.id %>"
    class="max-w-full flex flex-wrap items-center gap-2"
    hidden
    action="/drive/folder/<%= folder.id %>?_method=PUT"
    method="post"
    autocomplete="off"
  >
    <input
      placeholder="Update name..."
      type="text"
      maxlength="20"
      name="folder"
      value="<%= folder.name %>"
      class="shrink flex-1 max-w-[100%] border rounded-sm border-gray-400"
      onkeydown="
      if (event.key === 'Escape') {
        event.preventDefault();
        this.closest('form').querySelector('button[type=button]').click();
      }
      "
    />
    <div class="flex-1 flex gap-3">
      <button
        type="submit"
        class="flex-1/2 border border-violet-400 rounded-sm p-1 hover:bg-green-500"
      >
        <i class="fa fa-solid fa-check"></i>
      </button>
      <button
        type="button"
        class="flex-1/2 border border-violet-400 rounded-sm p-1 hover:bg-red-500"
        onclick="
          document.getElementById('update-folder-form-<%= folder.id %>').hidden = true;
          document.getElementById('folder-nav-button-<%= folder.id %>').toggleAttribute('hidden');
          document.getElementById('folder-options-<%= folder.id %>').toggleAttribute('hidden');
          "
      >
        <i class="fa fa-solid fa-times"></i>
      </button>
    </div>
  </form>
  <a
    class="flex-1"
    href="/drive/folder/<%= folder.id %>"
    title="Open folder <%= folder.name %>"
  >
    <span
      id="folder-nav-button-<%= folder.id %>"
      class="flex items-center gap-2"
    >
      <i class="fa fa-folder"></i>
      <span class="truncate max-w-[10ch]"><%= folder.name %></span>
    </span>
  </a>
  <div
    id="folder-options-<%= folder.id %>"
    class="hover:bg-gray-400 p-1 rounded z-50"
  >
    <drop-down>
      <drop-down-action class="bg-gray-100 shadow-md">
        <a
          onclick="
          event.preventDefault();
          const form = document.getElementById('update-folder-form-<%= folder.id %>');
          form.removeAttribute('hidden');
          document.getElementById('folder-nav-button-<%= folder.id %>').toggleAttribute('hidden');
          document.getElementById('folder-options-<%= folder.id %>').toggleAttribute('hidden');
          const input = form.querySelector('input');
          const length = input.value.length;
          input.focus();
          input.setSelectionRange(length, length);
           "
        >
          Rename...
        </a>
      </drop-down-action>
      <drop-down-action class="bg-gray-100 shadow-md">
        <form
          id="delete-folder-form-<%= folder.id %>"
          action="/drive/folder/<%= folder.id %>?_method=DELETE"
          method="post"
          onsubmit="return confirm('Are you sure you want to delete the folder /<%= folder.name %> ?\r\nThis action cannot be undone.')"
        >
          <button type="submit">Delete...</button>
        </form>
      </drop-down-action>
    </drop-down>
  </div>
</div>
