<div
  class="flex items-center justify-between w-full border-b bg-gray-100 hover:bg-gray-300 rounded px-2 py-1"
>
  <form
    id="update-<%= type %>-form-<%= item.id %>"
    class="max-w-full flex flex-wrap items-center gap-2"
    hidden
    action="<%= updateAction %>"
    method="post"
    autocomplete="off"
  >
    <label class="sr-only" for="<%= type %>-name-<%= item.id %>">
      <%= displayName %> name:
    </label>
    <input
      id="<%= type %>-name-<%= item.id %>"
      placeholder="Update name..."
      type="text"
      maxlength="20"
      name="<%= inputName %>"
      value="<%= item.name %>"
      class="shrink flex-1 max-w-[100%] border rounded-sm border-gray-400"
      onkeydown="handleUpdateFormKeydown(event, '<%= type %>', '<%= item.id %>')"
    />
    <div class="flex-1 flex gap-3">
      <button
        aria-label="Confirm button"
        type="submit"
        class="flex-1/2 border border-violet-400 rounded-sm p-1 hover:bg-green-500"
      >
        <i class="fa fa-solid fa-check"></i>
      </button>
      <button
        aria-label="Cancel button"
        type="button"
        class="flex-1/2 border border-violet-400 rounded-sm p-1 hover:bg-red-500"
        onclick="cancelEditSelectedFromOptions(event, '<%= type %>', '<%= item.id %>')"
      >
        <i class="fa fa-solid fa-times"></i>
      </button>
    </div>
  </form>
  <a class="flex-1" href="<%= linkHref %>" title="<%= linkTitle %>">
    <span
      id="<%= type %>-nav-button-<%= item.id %>"
      class="flex items-center gap-2"
    >
      <i class="<%= iconClass %>"></i>
      <span class="truncate max-w-[10ch]"><%- item.name %></span>
    </span>
  </a>
  <div
    id="<%= type %>-options-<%= item.id %>"
    class="hover:bg-gray-400 p-1 rounded z-50"
  >
    <drop-down aria-label="<% type %> options">
      <drop-down-action aria-label="Rename" class="bg-gray-100 shadow-md">
        <a
          onclick="startEditFromOptions(event, '<%= type %>', '<%= item.id %>' );"
        >
          Rename...
        </a>
      </drop-down-action>
      <drop-down-action aria-label="Delete" class="bg-gray-100 shadow-md">
        <form
          id="delete-<%= type %>-form-<%= item.id %>"
          action="<%= deleteAction %>"
          method="post"
          onsubmit="return confirm(`<%= deleteConfirmMessage %>`)"
        >
          <button type="submit">Delete...</button>
        </form>
      </drop-down-action>
    </drop-down>
  </div>
</div>
